language: node_js
node_js:
  - "11"

os:
  - linux
  - osx
#  - windows # TODO: Enable Once Widevine Package Supports Windows

cache:
  yarn: true
  directories:
    - node_modules
    # TODO: Are These Being Used
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

addons:
  apt:
    packages:
      - graphviz

install: yarn --pure-lockfile

script:
  - yarn test
  - if [ "$TRAVIS_TAG" ]; then yarn build; fi

deploy:
  - provider: releases
    api-key: $GH_TOKEN
    file_glob: true
    file:
      - dist/*.dmg
      - dist/*.AppImage
    skip_cleanup: true
    on:
      tags: true
  - provider: snap
    snap: dist/*.snap
    channel: stable
    skip_cleanup: true
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
