@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); /* TODO: Include With The App */

body {
  -webkit-app-region: drag; /* TODO: This Window Drag Is Not Working */
  margin: 0;
  background-color: rgba(52, 52, 52, 0.95);
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

#root {
  display: grid;
  height: 100vh;
}

.services {
  width: 90%;
  min-height: 200px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service {
  flex: 1;
  padding: 30px 20px;
  text-decoration: none;
}

.service:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.service img {
  margin: 0 auto;
  display: block;
  height: 110px;
  width: auto;
  padding: 5px 0;
}

.service h3 {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: white;
}
